[
 {mcserv,
  [
   {rate, 1000}, % stream rate, KB/s
   {packet_size, 1470}, % UDP packet size
   {file_path, "/tmp/mcserv.bin"}, % file to stream
   {mcast_address, {224, 2, 2, 4}}, % multicast address
   {mcast_port, 1111}, % multicast port
   {http_port, 8224} % http port to listen to metadata requests
  ]},
 {lager,
  [
   %% {log_root, "/var/log/mcserv"},
   {handlers,
    [
     {lager_console_backend, [{level, info}]}
     %% {lager_file_backend, [{file, "error.log"}, {level, error}]},
     %% {lager_file_backend, [{file, "console.log"}, {level, info}]}
     %% {lager_file_backend, [{file, "mcserv.log"}, {level, debug}]}
    ]}
  ]}
].
